{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<html>
<head>
    <title>HostelView - Home</title>
</head>
<body>
    <h1>Welcome to HostelView</h1>
    <h2>Find your ideal hostel with ease - HostelView makes it simple and hassle-free!</h2>
    <hr>
    <ul>
        <h2>Client Account:</h2>
        <a href="{% url 'users:client_login' %}" class="btn">Login</a> <a href="{% url 'users:client_register' %}" class="btn">Register</a></li>
        <br><br>
        <h2>Acommodation Account:</h2>
        <a href="{% url 'users:acommodation_login' %}" class="btn">Login</a> <a href="{% url 'users:acommodation_register' %}" class="btn">Register</a></li>
    </ul>
</body>
</html>
{% endblock %}
