{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<html>
<head>
    <title>HostelView - Home</title>
</head>
<body>
    <h1>Welcome to HostelView</h1>
    <h2>Find your ideal hostel with ease - HostelView makes it simple and hassle-free!</h2>
    <ul>
        Client:
        <br>
        <a href="#" class="btn">Login</a> <a href="#" class="btn">Register</a></li>
        <br><br>
        Acommodation:
        <br>
        <a href="#" class="btn">Login</a> <a href="#" class="btn">Register</a></li>
    </ul>
</body>
</html>
{% endblock %}
